[Desktop Entry]
Name=Start Data Logger
Comment=Start the Steer Energy Data Logger
Icon=/usr/share/pixmaps/openbox.xpm
Exec=bash -c 'cd "/home/pi/Github/DataLogger/RPI" && python3 gui.py'
Type=Application
Encoding=UTF-8
tartupNotify=true
Categories=Applications;
StartupNotify=true
Terminal=false
